<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/jquery.tooltip.css">
    <link rel="stylesheet" href="/css/css_responsive.css">
    <title>Vigilancia Entomologica</title>
</head>

<body>
    <div class="container" id="cont" style="height: 100%;   ">
        <div class="row" id="head_main" >
            <div class="col-md-2"  class="col-xs-6" id="sect01">
                <p>SISTEMA DE VIGILANCIA</p>
            </div>
            <div class="col-md-8" class="col-xs-6" id="sect02" style="cursor: pointer;" onclick="fileSelect()">
                <div class="row" style="align-items: center">
                    <div class="col-4" style="text-align-last: end;align-self: center;"><img src="/images/icon-csv.png"
                            style="height:3vh"></div>
                    <div class="col-8" style="text-align-last: start;">
                        <p id="bCSV">Abrir .CSV</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" class="col-xs-0"  id="sect0">
                <p> </p>
            </div>
        </div>

        <div class="row" id="center_main" style="height:59.5vh">
            <div class="col-md-2" class="col-sm-12" id="sect11" >
                <div id="selectCasillas">
                    <div class="row">
                        <div class="col-md-9">
                            <p>Seleccionar Colonias</p>
                        </div>
                        <div class="col-md-3"><input type="button" onclick="abrirColoniasInfo()"
                                placeholder="Muestra Las Información de cada Colonia" value="?"></div>
                    </div>
                    <hr>
                    <div class="scrollbar" style="height:80%" id="style-15">
                        <div id="Lzonas" style="width: 90%"></div>
                    </div>
                </div>
                <div style="height:25%">
                    <div id="fechas" style="height:50%">
                        <p>Seleccione la Fecha </p>
                        <hr>
                        <input type="date" value="2022-06-01" require="" id="fecha1" name="fecha1">
                        <input style="display:none" type="date" value="2022-05-07" require="" id="fecha2" name="fecha2">
                    </div>
                    <div style="margin-top: 12px;height:50%"><button class="btn third" type="button"
                            style="height: 75%;" id="bsubmit">Filtrar </button></div>
                </div>
            </div>
            <div class="col-md-6" class="col-sm-12" id="sect12" style="padding: 8px;  margin: 0;">
                <canvas id="canvasMap"style="display: none;"></canvas>
                <div class="map" style="height: 56vh" id="map_c1"></div>
            </div>
            <div class="col-md-2" class="col-sm-12" id="sect13">
                <div style="height:80%">
                    <p>Porcentaje de Huevos por Colonia </p>
                    <hr><canvas id="graf_ph"></canvas>
                </div>
                <div style="height:10%">
                    <p class="centrado">Cantidad de Ovitrampas</p>
                    <div class="centrado">
                        <h1 id="n_ovi">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2" class="col-sm-12" id="sect14">
                <div style="height:5%">
                    <p>Zonas</p>
                    <hr>
                </div>
                <div class="row" id="style-15" style="overflow: scroll;height:93%">
                    <div id="zona_name"></div>
                </div>
            </div>
        </div>
        <div class="row" style="height:35vh">
            <div class="col-md-1" id="sect21"><button id="b_PromMes" onclick="getDatMesProm()">Promedio por
                    Fechas</button></div>
            <div class="col-md-5" id="sect2"><canvas id="graphPM"
                    style="width: -webkit-fill-available; height: 34vh;"></canvas>
                <!--input(type="text", name="cvegeoedo", value="01", id="cvegeoedo"  accept=".csv" required)-->
            </div>
            <div class="col-md-6" id="sect2"><canvas id="graph_pop"
                    style="width: -webkit-fill-available; height: 34vh"></canvas></div>
        </div>
    </div>
    <div id="filecsv" style="display:none">
        <div class="row" style="height: 15vh;margin-left: 10px;">
            <div style="text-align: end;"><button id="b" onclick="closedivCSV()"
                    style="border: none;background: none;"><img src="/images/close-button.png" height="35"
                        width="35"></button></div><strong style="font-size: x-large;font-family: monospace;">Seleccionar
                Archivo .csv</strong>
            <form class="form-inline"><input type="file" id="files" accept=".csv" required=""></form>
        </div>
        <div id="csv_tr"></div>
        <div class="row" style="height:55vh;margin: 10px">
            <div class="col-md-10" id="csv_table" style="height: -webkit-fill-available;overflow:scroll"></div>
            <div class="col-md-2" style="height: -webkit-fill-available;">
                <div class="scrollbar" style="height: -webkit-fill-available;" id="style-15">
                    <div id="selectCSV"></div>
                </div>
            </div>
        </div>
        <div class="row" style="height:10vh;">
            <div class="col-md-2"><button id="ver_csv_map" style="font-size: large;margin-left: 10px;width: 60%;"
                    onclick="AddMapCsv()">Analizar</button></div>
        </div><textarea name="" style="display:none" cols="200" row="600" id="area"></textarea>
    </div>
    <div id="interpolarCSV" style="top: -150%;">
        <div style="text-align: end"><button onclick="closeWCSVInter()" style="border: none;background: #444444;"><img
                    src="/images/close-button.png" height="35" width="35"></button></div>
        <div id="nomColInter">
            <p id="nomColInterp"> </p><button onclick="showVariograma()">Ver Semivariograma</button>
            <button id="ocultarIMG">Ocultar IMG</button><button id="mostrarIMG">Mostrar IMG</button>
            <button id="ocultarPuntos" onclick="ocultarPuntos()">Ocultar Puntos</button>
            <button id="mostrarPuntos" onclick="mostrarPuntos()">Mostrar Puntos</button>
        </div>
        <div id="contendCSV">
            <div class="map" id="map_c2"></div><img src="/images/loading2.gif"
                style="left: 40%;position: relative;width: 20%;height: 40%;margin-top: -50%;" id="imgLoading">
        </div>
    </div>
    <div id="divHistoMes" style="display:none">
        <div id="close_div" style="text-align:end;"><button onclick="closeDivHistoMes()"
                style="border: none;background: none;"><img src="/images/close-button.png" height="35"
                    width="35"></button></div>
        <div class="row">
            <div class="col-md-4" style="  height: 50vh; padding-right: 0;padding-left: 2%;">
                <div style="padding-left: 5%; padding-right: 5%;" id="col4Mes">
                    <p>Colonias Seleccionadas</p>
                    <div id="coloniasSelecDivProm" style="overflow-y:auto"></div>
                    <div>
                        <div class="row">
                            <div></div>
                            <div>
                                <p>MOSTRAR POR :</p>
                            </div>
                            <div class="col-md-6">
                                <p>MES</p><input class="optMesDia" type="checkbox" id="checkMes" name="optMesDiaN"
                                    onchange="javascript:optMoD()">
                            </div>
                            <div class="col-md-6">
                                <p>DIA</p><input class="optMesDia" type="checkbox" id="checkDia" name="optMesDiaN"
                                    onchange="javascript:optMoD()">
                            </div>
                        </div>
                        <p>Seleccione el Rango de Fecha:</p><input type="date" id="fecha1Mes" value="2022-04-01"
                            required="">
                        <p>-</p><input type="date" id="fecha2Mes" value="2022-04-03" required=""><br><button
                            onclick="getDatMes()"
                            style="color: white;background: #494949; margin-top:3%;display: block;border: inset #ffffff;font-size: 1rem;">Hecho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style=" padding-right: 2%;padding-left:0;">
                <div id="col4Mes">
                    <p>Promedio por Fechas</p><canvas id="grapMesProm"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div id="id_variograma" style="display:none">
        <div style="text-align: end;cursor: move;" id="moveVario"><button onclick="closeVariograma()"
                style="border: none;background: #444444;"><img src="/images/close-button.png" height="35"
                    width="35"></button></div>
        <p id="VARIO_TITLE">Semivariograma</p>
        <div id="grafdiv"> <canvas  id="variograma"></canvas></div>
    </div>
    <div style="display:none" id="divError">
        <div style="text-align: end"><button onclick="closeVerror()" style="border: none;background: red;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <h2>Error</h2>
        <br>
        <p id="msg"></p>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script> 
    <script src="/js/chart-loader.js"></script>
    <script src="/js/chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="/js/turf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script src="/interpoladoresjs/idw.js"></script>-->
    <!--<script src="/interpoladoresjs/krigingMy.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--<script src="/interpoladoresjs/inter-func.js"></script>-->
    <script src="/jsIndex.js/variables_g.js"></script>
    <script src="/jsIndex.js/cargar_name_colonias.js"></script>
    <script src="/jsIndex.js/maps_config.js"></script>
    <script src="/jsIndex.js/chart_config.js"></script>
    <script src="/jsIndex.js/funct_load_data.js"></script>
    <script src="/jsIndex.js/indicadores.js"></script>
    <script src="/jsIndex.js/addZonaMapa.js"></script>
    <script src="/jsIndex.js/mapacalor.js"></script> 
    <script src="/jsIndex.js/promediarMesDia.js"></script>

</body>

</html>